* {
    padding: 0;
    margin: 0;
}

body {
    font-size: 2rem;
    display: grid;
    justify-items: center;
    gap: .5rem;
    color: blue;
    text-align: center;
    background-image: url('./astronomy-1867616_1280.jpg');
    background-color: rgba(21, 20, 20, 0.295);
}

canvas {
    background-image: url('./astronomy-1867616_1280.jpg');
    display: block;
    margin: 0 auto;
    border: 2px solid blue;
}

button {
    width: 120px;
    height: 40px;
    border-radius: 40px;
    border-color: #3498db;
    color: #fff;
    box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}

button:hover {
    box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
}